<div class="footer">
	<div class="footer__inner">
		<div class="footer__copyright">&copy;&nbsp;2018 &laquo;LoremIpsum.net&raquo; Все права защищены.</div>
		<div class="footer__pay-info">
			<span class="footer__pay-info-el footer__pay-info-el--qiwi">Qiwi wallet</span>
			<span class="footer__pay-info-el footer__pay-info-el--yandex-money">Yandex Money</span>
			<span class="footer__pay-info-el footer__pay-info-el--web-money">Web Money</span>
		</div>
		<div class="footer__links">
			<a href="#" class="link link--email">info@ipsum228.com</a>
			<a href="#" class="link link--vk">Мы&nbsp;вконтакте</a>
		</div>
	</div>
</div>