@import '../../styles/mixins.scss';

.footer {
	width: 100vw;
	height: 100px;
	background: var(--color-blue-zodiac);

	color: var(--color-white);
	font-weight: 400;
	font-size: 13px;
	line-height: 120%;

	&__inner {
		width: 100%;
		max-width: var(--site-width);
		padding: 0 35px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}

	&__pay-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-left: 1px solid var(--color-white);
		border-right: 1px solid var(--color-white);
		padding: 0 3vw;

		&-el {
			position: relative;
			display: inline-block;
			padding-left: 10px;
			margin-left: 40px;
			color: var(--color-silver);

			&:first-child {
				margin-left: 20px;
			}

			&::before {
				position: absolute;
				content: '';
				width: 20px;
				height: 20px;
				top: 50%;
				transform: translateY(-50%);
				right: 100%;
				background-position: center;
				background-repeat: no-repeat;
			}

			$icons: "qiwi", "yandex-money", "web-money";

			@each $icon in $icons {
				&--#{$icon}::before {
					background-image: url('/assets/icons/icon_#{$icon}.svg');
				}
			}
		}
	}

	&__links {

	}

	.link,
	.link:visited {
		color: var(--color-white);
		text-align: right;

		&:hover {
			color: var(--color-primary);
		}

		&:active {
			// Не успел разобраться, как в angular'е правильно обозначать переменные
			// в обычных проектах это выглядит $color-primay, а не var(--color-primary)
			color: darken(#43ABF0, 10%);
		}
	}

	.link {
		position: relative;
		padding-left: 10px;
		margin-left: 40px;

		&::before {
			position: absolute;
			content: '';
			width: 20px;
			height: 20px;
			top: 50%;
			transform: translateY(-50%);
			right: 100%;
			background-position: center;
			background-repeat: no-repeat;
		}

		$icons: "email", "vk";

		@each $icon in $icons {
			&--#{$icon}::before {
				background-image: url('/assets/icons/icon_#{$icon}.svg');
			}
		}
	}

	.link + .link {
		margin-left: 38px;
	}
}

@include breakpoint(xl) {
	.footer {
		&__inner {
			padding: 0 16px;
		}

		&__pay-info {
			padding: 0 2vw;
		}
	}
}

@include breakpoint(xl) {
	.footer__pay-info {
		flex-direction: column;
		align-items: flex-start;

		&-el {
			margin-left: 20px;

			+ .footer__pay-info-el {
				margin-top: 12px;
			}
		}
	}

	.footer__links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.link + .link {
		margin-top: 12px;
	}
}

@include breakpoint(md) {
	.footer {
		height: auto;
		padding: 24px 16px;

		&__inner {
			flex-wrap: wrap;
			padding: 0;
		}

		&__copyright {
			flex-basis: 100%;
			margin-top: 40px;
			order: 1;
		}

		&__pay-info {
			border-left: none;
			padding: 0;
		}

		&__pay-info,
		&__links {
			flex-basis: 50%;
		}
	}
}

@include breakpoint(sm) {
	.footer {
		&__pay-info {
			flex-basis: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			border: none;

			&-el {
				flex-basis: calc(100% / 3 - 20px);
				padding-left: 4px;

				+ .footer__pay-info-el {
					margin-top: 0;
				}
			}
		}

		&__copyright {
			text-align: center;
		}

		&__links {
			margin-top: 24px;
			flex-basis: 100%;
			flex-direction: row;
			justify-content: space-between;
		}

		.link {
			margin-left: 20px;
		}
	}
}

@include breakpoint(xs) {
	.footer__pay-info-el {
		flex-basis: calc(50% - 20px);

		&:last-child {
			margin-top: 12px !important;
		}
	}
}