<div class="footer">
	<div class="footer__inner">
		<div class="footer__copyright">&copy;&nbsp;2018 &laquo;LoremIpsum.net&raquo; Все права защищены.</div>
		<div class="footer__pay-info">
			<span class="footer__pay-info-el">Qiwi wallet</span>
			<span class="footer__pay-info-el">Yandex Money</span>
			<span class="footer__pay-info-el">Web Money</span>
		</div>
		<div class="footer__links">
			<a href="#" class="link">info@ipsum228.com</a>
			<a href="#" class="link">Мы&nbsp;вконтакте</a>
		</div>
	</div>
</div>