<div class="timeline">
	<div class="timeline__block">
		<div class="timeline__icon">
			<img class="icon" src="/assets/icon_search.png" alt="search">
		</div>
		<div class="timeline__title">Lorem ipsum dolor sit<br class="hide-md"> amet</div>
	</div>
	<span class="timeline__path"></span>
	<div class="timeline__block">
		<div class="timeline__icon">
			<img class="icon" src="/assets/icon_percent.png" alt="percent">
		</div>
		<div class="timeline__title">Сonsecteturadipiscing elit</div>
	</div>
	<span class="timeline__path"></span>
	<div class="timeline__block">
		<div class="timeline__icon">
			<img class="icon" src="/assets/icon_page.png" alt="page">
		</div>
		<div class="timeline__title">Sed do eiusmod tempor</div>
	</div>
	<span class="timeline__path"></span>
	<div class="timeline__block">
		<div class="timeline__icon">
			<img class="icon" src="/assets/icon_email-big.png" alt="email-big">
		</div>
		<div class="timeline__title">Esse cillum dolore eu fugiat</div>
	</div>
	<span class="timeline__path"></span>
	<div class="timeline__block">
		<div class="timeline__icon">
			<img class="icon" src="/assets/icon_bill.png" alt="bill">
		</div>
		<div class="timeline__title">Excepteur sint occaecat cupidatat non proident</div>
	</div>
</div>
