<app-header></app-header>
<div class="layout">
	<div class="segment segment--started">
		<h1><span class="colored">Lorem ipsum</span> dolor sit<br class="hide-md"> amet consectetur <span class="colored">adipiscing</span></h1>
		<p><strong>At vero eos et accusamus et iusto odio dignissimos ducimus!</strong></p>
		<ul class="list">
			<li class="list__el">Totam rem aperiam eaque ipsa</li>
			<li class="list__el">Sit voluptatem accusantium doloremque laudantium</li>
			<li class="list__el">Sed ut perspiciatis, unde omnis iste natus error</li>
		</ul>

		<div class="btns-wrapper">
			<button class="btn">Заказать</button>
			<button class="btn btn--white">Подробнее</button>
		</div>
	</div>
	<div class="segment segment--ended">
		<h2>Оформление <span class="colored">заказа</span></h2>
		<h4>Перед заполнением формы ознакомьтесь с&nbsp;нашей схемой работы!</h4>
		<!-- Order history -->
		<app-timeline></app-timeline>
		<app-form></app-form>
	</div>
</div>
<app-footer></app-footer>