@import '../styles/mixins.scss';

.layout {
	width: 100vw;
	max-width: var(--site-width);
	padding: 0 35px;
	// - высота футера
	min-height: calc(100vh - 100px);
	margin: 0 auto;
}

.segment {
	position: relative;
	padding-top: 200px;
	padding-bottom: 200px;

	&--started::before,
	&--ended::before {
		position: absolute;
		content: '';
		background-size: cover;
		background-position-x: center;
		width: 100vw;
		height: 100%;
		left: calc(-1 * (100vw - 100%) / 2);
		top: 0;
		z-index: -1;
	}

	&--started::before {
		background-image: url('../assets/images/persons.png');
	}

	&--ended {
		padding-top: 120px;
		padding-bottom: 150px;

		&:before {
			background-color: var(--color-jaguar);
			background-image: url('../assets/images/checkers.png');
		}
	}
}

.btns-wrapper {
	display: flex;
}

.btn + .btn {
	margin-left: 30px;
}

@include breakpoint(xl) {
	.layout {
		padding-left: 16px;
		padding-right: 16px;
	}
}

@include breakpoint(lg) {
	.segment {
		padding-top: 140px;
		padding-bottom: 80px;
	}
}

@include breakpoint(md) {
	.hide-md {
		display: none;
	}

	.segment {
		padding-top: 110px;
		padding-bottom: 60px;
	}
}

@include breakpoint(sm) {
	.btns-wrapper {
		justify-content: space-between;
	}

	.btn {
		min-width: auto;
		width: calc(100% / 2 - 15px);
	}

	.btn + .btn {
		margin-left: 0;
	}
}

@include breakpoint(xs) {
	.btns-wrapper {
		flex-direction: column;
	}

	.btn {
		width: 100%;
	}

	.btn + .btn {
		margin-top: 16px;
	}
}